
.photo {
    margin-left:-10px;
    width:70px;
    height:100px
}

.search-bar {
  width: 50%;
  margin-bottom:30px;
}

.card-header {
    color:darkslateblue;
    font-family:Verdana;
    font-size:10pt;
    font-weight:bold;
}


